<form class="signup-form">
    <h2>Signup</h2>
    <div class="form-contents">
        <div class="mb-3">
            <label class="form-label" for="username-signup">Username:</label>
            <input type="text" class="form-control" id="username-signup" />
        </div>
        <div class="mb-3">
            <label class="form-label" for="email-signup">Email:</label>
            <input type="text" class="form-control" id="email-signup" />
        </div>
        <div class="mb-3">
            <label class="form-label" for="password-signup">Password:</label>
            <input type="password" class="form-control" id="password-signup" />
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Signup</button>
        </div>
        <div class="mb-3">
            <a href="/login" class="text">Login instead</a>
        </div>
    </div>
</form>
<script src="/js/signup.js"></script>
